<!DOCTYPE html>
<html class="wide wow-animation scrollTo" lang="en">
  <head>
    <title>Services</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Asap:400,500,600,700%7CLato:400italic,400,700">
    <link rel="stylesheet" href="/bootstrap.css">
    <link rel="stylesheet" href="/fonts.css">
    <link rel="stylesheet" href="/style.css">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-double-torus"></div>
        </div>
      </div>
    </div>
    <div class="page">
      <header class="section page-header">
        <!--RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-subpage" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
            <div class="rd-navbar-aside-outer rd-navbar-collapse">
              <!--RD Navbar Brand-->
              <div class="rd-navbar-aside">
                <div class="rd-navbar-brand">
                  <!--Brand--><a class="brand" href="index"><img class="brand-logo-dark" src="/JpLogoBlue.png" alt="" width="77" height="26"/><img class="brand-logo-light" src="/JpLogoWhite.png" alt="" width="77" height="26"/></a>
                </div>
                <div class="contacts-wrap">
                  <address class="contact-info reveal-sm-inline-block text-left offset-none">
                    <div class="p unit unit-spacing-xs unit-horizontal">
                      <div class="unit-left"><span class="icon icon-xs icon-circle icon-gray-light text-primary mdi mdi-phone"></span></div>
                      <div class="unit-body"><a href="tel:#">+917250232233</a><br><a href="tel:#">+919308117486</a></div>
                    </div>
                  </address>
                  <address class="contact-info reveal-sm-inline-block text-left">
                    <div class="p unit unit-horizontal unit-spacing-xs">
                      <div class="unit-left"><span class="icon icon-xs icon-circle icon-gray-light text-primary mdi mdi-map-marker"></span></div>
                      <div class="unit-body"><a href="#">G1/A Baidayanath Palace,Jagdeo Path,near <br>pillar No:-10,Bailey Road, RajaBazar,Patna</a></div>
                    </div>
                  </address>
                </div>
              </div>
            </div>
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <!--RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!--RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!--RD Navbar Brand-->
                  <div class="rd-navbar-brand">
                    <!--Brand--><a class="brand" href="index"><img class="brand-logo-dark" src="/JpLogoBlue.png" alt="" width="77" height="26"/><img class="brand-logo-light" src="/JpLogoWhite.png" alt="" width="77" height="26"/></a>
                  </div>
                </div>
                <div class="rd-navbar-main-element">
                  <div class="rd-navbar-nav-wrap">
                    <ul class="rd-navbar-nav">
                      <li class="rd-nav-item"><a class="rd-nav-link" href="index">Home</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="about">About</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="team">Team</a>
                      </li>
                      <!--<li class="rd-nav-item"><a class="rd-nav-link">Pages</a>
                        <ul class="rd-menu rd-navbar-megamenu">
                          <li class="rd-megamenu-item">
                            <h6 class="rd-megamenu-title">Elements</h6>
                            <ul class="rd-megamenu-list">
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="typography">Typography</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="forms">Forms</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="buttons">Buttons</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="grid-system">Grid</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="tabs-and-accordions">Tabs and Accordions</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="progress-bars">Progress bars</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="icons">Icons</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="tables">Tables</a></li>
                            </ul>
                          </li>
                          <li class="rd-megamenu-item">
                            <h6 class="rd-megamenu-title">Pages 1</h6>
                            <ul class="rd-megamenu-list">
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="team-member">Team Member Profile</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="careers">Careers</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="faq">FAQ Page</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="pricing">Pricing</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="coming-soon">Coming Soon</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="maintenance">Maintenance</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="under-construction">Under Construction</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="login">Login/Register</a></li>
                            </ul>
                          </li>
                          <li class="rd-megamenu-item">
                            <h6 class="rd-megamenu-title">Pages 2</h6>
                            <ul class="rd-megamenu-list">
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="clients">Clients</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="partners">Partners</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="privacy-policy">Privacy Policy</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="search-results">Search Results</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="404">404 Page</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="503">503 Page</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="make-an-appointment">Make an Appointment</a></li>
                            </ul>
                          </li>
                        </ul>
                      </li>-->
                      <li class="rd-nav-item active"><a class="rd-nav-link" href="services">Services</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="departments">Departments</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="timetable">Timetable</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="#">Gallery</a>
                        <ul class="rd-menu rd-navbar-dropdown">
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="grid-gallery">Grid Gallery</a>
                          </li>
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="grid-gallery-no-padding">Gallery Without Padding</a>
                          </li>
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="masonry-gallery">Masonry Gallery</a>
                          </li>
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="cobbles-gallery">Cobbles Grid</a>
                          </li>
                        </ul>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="blog-masonry">Blog</a>
                        <ul class="rd-menu rd-navbar-dropdown">
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="blog-masonry">Blog Masonry</a>
                          </li>
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="blog-modern">Blog Modern</a>
                          </li>
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="blog-classic">Blog Classic</a>
                          </li>
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="blog-grid">Blog Grid</a>
                          </li>
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="single-post">Single Post</a>
                          </li>
                        </ul>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="contacts">Contacts</a>
                      </li>
                    </ul>
                  </div>
                  <!--RD Navbar Search-->
                  <div class="rd-navbar-search">
                    <button class="rd-navbar-search-toggle rd-navbar-fixed-element-2" data-rd-navbar-toggle=".rd-navbar-search"><span></span></button>
                    <form class="rd-search" action="search-results" data-search-live="rd-search-results-live" method="GET">
                      <div class="form-wrap">
                        <label class="form-label" for="rd-navbar-search-form-input">Type and hit enter...</label>
                        <input class="rd-navbar-search-form-input form-input" id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off">
                        <div class="rd-search-results-live" id="rd-search-results-live"></div>
                      </div>
                      <button class="rd-search-form-submit fa-search" type="submit"></button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- Breadcrumbs-->
      <section class="breadcrumbs-custom bg-image context-dark" style="background-image: url(/background-breadcrumbs-01-1920x345.jpg);" data-preset='{"title":"Breadcrumbs","category":"header","reload":false,"id":"breadcrumbs"}'>
        <div class="container">
          <h2 class="breadcrumbs-custom-title">Services</h2>
          <ul class="breadcrumbs-custom-path">
            <li><a href="index">Home</a></li>
            <li class="active">Services</li>
          </ul>
        </div>
      </section>
      <section class="section-lg section bg-default">
        <div class="container">
          <div class="row isotope-wrap">
            <div class="col-lg-3">
              <div class="isotope-filters isotope-filters-vertical">
                <h4 class="text-uppercase isotope-filters-title offset-top-34"></h4>
                <ul class="list-inline list-inline-sm">
                  <li class="d-xl-none">
                    <p>Choose your category:</p>
                  </li>
                  <li class="section-relative">
                    <button class="isotope-filters-toggle btn btn-sm btn-default" data-custom-toggle="#isotope-1" data-custom-toggle-disable-on-blur="true" data-custom-toggle-hide-on-blur="true">Filter<span class="caret"></span></button>
                    <ul class="list-sm-inline isotope-filters-list" id="isotope-1">
                      <li><a class="isotope-filter active" data-isotope-filter="Diagnostic Imaging" href="#">CT-Scan</a></li>
                      <li><a class="isotope-filter" data-isotope-filter="Ultrasound diagnostics" href="#">Ultrasound diagnostics</a></li>
                      <li><a class="isotope-filter" data-isotope-filter="X-ray diagnostics" href="#">X-ray diagnostics</a></li>
                      <li><a class="isotope-filter" data-isotope-filter="Mammography" href="#">Mammography</a></li>
                      <li><a class="isotope-filter" data-isotope-filter="Laboratory Services" href="#">Laboratory Services</a></li>
                      <li><a class="isotope-filter" data-isotope-filter="Dental Services" href="#">Dental X-Ray</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-9 offset-lg-top-0 offset-top-34">
              <div class="row text-md-left isotope isotope-style-1" data-isotope-layout="fitRows" data-column-class=".col-1" data-lightgallery="group" data-lg-animation="lg-slide-circular" data-isotope-group="gallery">
                <div class="col-1 isotope-item isotope-sizer"></div>
                <div class="col-lg-12 isotope-item" data-filter="Diagnostic Imaging">
                  <h3>Diagnostic Imaging</h3>
                  <div class="offset-top-60"><img class="img-responsive" src="/services-06-870x440.jpg" width="870" height="440" alt="">
                    <div class="offset-top-30">
                      <p>
                        A CT Scan detects joints and bone deformities such as complex tumours and bone fractures. Patients with serious conditions like heart diseases, liver mashes, emphysema, and cancer may need regular CT scans to spot changes. They detect internal injuries, bleeding, and masses or clots caused by trauma. CT scan is widely available in Delhi/NCR. However, CT Scan cost varies depending on the area to be scanned. PETCT Scan is an advanced diagnostic tool used to detect internal conditions.
                      </p>
                      <p>
                        CT Scan full form is Computerized Axial Tomography Scan. It is sometimes known as CAT Scan.

                        The procedure combined several rotating X-Rays with hi-end computerized processing that produces a detailed image of the internal structure of the human body, such as bones, organs, and tissues. CT Scan is recommended to patients to get a significantly greater detail as well as clarity than a conventional X-Ray.
                      
                        During the CT Scan, a patient is passed through a machine resembling a tunnel, which rotates through an arch of 360-degree while taking X-ray pictures in rapid succession. Subsequently, the images are taken into the computer to obtain all-around 2D snapshots of a specific body part.
                      
                        CT scan is a painless and minimally invasive procedure. It can be done on any part of the body as patients require. CT Scan for the brain, CT Scan for the abdomen, CT Scan for the head, CT Scan for lungs,  and chest CT scan. CT Scan cost varies according to the type of scan required.
                      
                        While a lungs CT scan may cost more, an abdomen CT scan may cost less. CT scan charges also differ from one imaging centre to another. If you are looking for a CT scan centre near me in Delhi/NCR, consider requesting the price.
                      </p>
                      <h4>CT Scan Procedure </h4>
                      
                      The CT Scan diagnostic tool allows doctors to determine the anatomy. A CT scan machine is capable of processing more than hundreds of X-Rays to produce cross-section images of the internal organs, bones, and tissues. The result is a detailed report. It is also the fastest, non-invasive, and painful method of scanning any body part.
                      
                      CT Scan is performed in a medical facility, either a radiology clinic or a hospital. Only a qualified technician or radiology technologist can perform a CT Scan.
                      
                      A medical professional guides the patient to abstain from drinking or eat for several hours before the procedure. At the time of the test, the patient has to lie on the scanning table, on the back (usually), though some patients may have to stand lie face-down or sideways. Then, the table makes its way into the large, circular (or donut-shaped) CT scan machine containing circling beans of X-Ray inside. As the patient’s body passes through that circle, the powerful X-ray beams capture images, cross-sectional and ring-like, of the specific part of the body, directly in its range or gaze.
                      
                      After each shot of X-ray, the scanning table moves a bit, thus enabling the CT scan machine to capture subsequent shots. Furthermore, the shots are scanned, processed, and stored, to generate a series of clear 2D slices of the patient’s body. Each slice provides a detailed and clear image of the patient’s vital including bones, tissues, nerves, and internal organs.
                      
                      During the procedure, patients must be still to get the best result. No third person is allowed during the CT scan procedure except the patient. However, the patient is allowed to communicate with the professionals and technicians conducting the CT scan through an intercom.
                      
                      The complete procedure could take anywhere between 10 minutes to 30 minutes maximum. After the procedure, patients can get back home immediately.
                      
                      <h4>How Long Does Any CT Scan Take?</h4>
                      
                      <p>
                        Routine plain CT Scan. No prescription is required.
                      
                        Head CT scan, or CT Brain or NCCT takes only a few seconds inside the CT scan machine. No prescription is required.
                      
                        Complicated investigations CECT of the Abdomen (CT Scan with Contrast) or a CT Triple Phase Abdomen could take several hours to prepare including IV and oral contrast administration.
                      </p>
                      <h4>CT Scan Cost</h4>
                      
                      <p>
                        Typically, the cost of a CT scan varies according to the requirement of the patient. Brain CT scan and lungs CT scan costs may not be the same. Likewise, PET CT Scan, which is required to detect the progression of cancer, may cost even more.
                      
                        It is advised to locate a CT scan centre near me and discuss cost, preparation, and other factors.
                      </p>
                      <h4>CT Scan Benefits</h4>
                      <ul class="list-marked list">
                        <li>It is a painless, accurate, and non-invasive procedure</li>
                        <li>It images bone, tissues, blood vessels</li>
                        <li>It provides detailed images of tissues of the bones, blood vessels, and lumps</li>
                        <li>CT scan examinations are simple and fast; they can save lives by revealing internal bleeding immediately</li>
                        <li>It is less sensitive to movement compared to MRI</li>
                        <li>Unlike MRI, it can be performed on patients with implanted medical devices</li>
                        <li>It provides real-time imaging, thus making it the right choice for minimally invasive methods like needle biopsy</li>
                      </ul> 
                      
                      <h4>What is an HRCT scan and why is it useful?</h4>
                      
                      <p>
                        An HRCT scan or High-Resolution CT scan provides detailed images of the insides of a person’s body. With the help of an HRCT scan offered by Star Imaging and Path Lab in Delhi NCR, you can get detailed X-ray images of your chest, lungs, etc. So, if you’re looking for the best place offering “HRCT scan near me”, Star Imaging and Path Labs should be your first choice. We offer the best HRCT scan price in Delhi and keep customer satisfaction as our priority.
                      
                        HRCT scan is useful for many purposes. If a person is suffering from any lung conditions or possible blood clots in the lungs, the HRCT scan can easily identify it. It helps the person to get their treatment soon and be safe and healthy again. So, in any case, if you’re searching for an “HRCT chest near me” or lung CT scan price that is conveniently low in the Delhi NCR region, you should choose Star Imaging and Path Lab.
                      </p>
                      
                      <h4>Why Should You Choose J.P Diagnostic & Imaging for Your CT scan?</h4>
                      
                      <p>Often when we search on google for places offering “CT scan lab near me”, the results are confusing and not clear. It makes it difficult for us to choose the right lab that offers good CT scan services. If you’re looking for the right place for your CT scan in Bihar/Patna, J.P Diagnostic & Imaging should be your first choice. No need to worry anymore and spend time searching for the best places for “CT scan near me”, we’ve got you covered. 
                      
                        J.P Diagnostic & Imaging offer the best CT scan services in Bihar/Patna. Our customers have always considered us as their first choice because of our best and affordable CT scan price in Bihar/Patna. Also, we make sure that our customers get top-class CT scan services. To ensure this, we provide you with a CT scan price that suits your pocket. 
                      
                        Our offered whole body, abdomen, or chest CT scan price are lesser as compared to other labs. At the same time, we believe in keeping our customers’ first and providing them with every care they need. Not only this but choosing J.P Diaganostic & Imaging  will help you get the best CT scan services in Bihar/Patna. Our years of experience in CT scan services and keeping customer satisfaction first makes us the best CT scan labs across India. 
                      </p>
                      <p>Call Us:</p>

                    </div>
                    <div class="offset-top-30"><a class="btn btn-ellipse btn-primary" href="make-an-appointment">Make an appointment</a></div>
                  </div>
                </div>
                <div class="col-lg-12 isotope-item" data-filter="Ultrasound diagnostics">
                  <h3>Ultrasound Diagnostics</h3>
                  <div class="offset-top-60"><img class="img-responsive" src="/services-05-870x440.jpg" width="870" height="440" alt="">
                    <div class="offset-top-30">
                      <p>
                        Radiology & Imaging offers the latest advances in ultrasound technology to perform applications in cardiac, obstetric, and vascular areas.
                        Our advanced technology provides improved image quality and an improved overall patient experience.
                        Many different types of Ultrasound procedures are performed at Radiology & Imaging. Some of these include evaluation of the abdomen, including the
                        gallbladder, liver, kidneys, pancreas, spleen, and appendix; the pelvis, including uterus and ovaries; obstetric exams; duplex doppler vascular studies, including leg veins, carotid artery, and aorta; breast ultrasound, including evaluation of breast nodules; thyroid and scrotum. Organ biopsies are frequently performed with ultrasound imaging guidance. The radiologists at Radiology & Imaging routinely perform biopsies of the liver, thyroid gland, breast, and lymph nodes.
                      </p>
                     <h4>What is Ultrasound?</h4>
                     <p>
                       Ultrasound imaging, also known as sonography, is a safe and painless imaging study. Ultrasound utilizes high-frequency sound waves, without radiation, to generate images of the internal structures of the body. The reflected sound wave echoes are recorded and displayed as a real-time visual image. Because ultrasound images are captured in real-time, they can show the movement of internal tissues and organs and enable our radiologists to see blood flow and heart valve functions.
                    </p>
                    <h4>Preparing for an Ultrasound</h4>
                    <p>
                      Preparing for an Ultrasound depends on the type of exam the patient is having.
                      For an abdominal exam, you must not eat or drink anything for 8 hours prior to your exam time except for medications, or as instructed by your primary physician with a small amount of water.
                      For pelvic or obstetric exams, you must drink 32 oz of water 30 minutes prior to your exam and you must avoid emptying your bladder for the best images to be captured.
                    </p>
                    <h4>During and after an Ultrasound</h4>
                    <p> 
                        During an ultrasound, you will lie on a comfortable table while a technologist performs the exam. A handheld device, called an ultrasound probe or transducer, will be moved on the surface of the skin in the area of interest after a liquid gel is placed on the probe and/or the skin. For certain ultrasound exams, specialized internal probes are used. For example, an endovaginal probe is used for most pelvic exams to create the most detailed images of the uterus and ovaries.
                        Once an ultrasound exam is complete, you can eat and resume normal activity. One of Radiology & Imaging’s radiologists will interpret the ultrasound exam and send the results to your primary physician. Your physician will discuss the findings of your ultrasound exam with you.
                    </p>

                    </div>
                    <div class="offset-top-30"><a class="btn btn-ellipse btn-primary" href="make-an-appointment">Make an appointment</a></div>
                  </div>
                </div>
                <div class="col-lg-12 isotope-item" data-filter="X-ray diagnostics">
                  <h3>X-ray diagnostics</h3>
                  <div class="offset-top-60"><img class="img-responsive" src="/services-04-870x440.jpg" width="870" height="440" alt="">
                    <div class="offset-top-30">
                      <p>
                        X-rays are non-invasive procedures which capture images of the inside of your body. The resulting image is black and white and shows any abnormalities that may be present. An X-ray is most commonly used to determine the severity of a broken bone. But there are other uses of X-rays as well which will be elaborated upon in the following sections. There are several X-ray clinics in nearly all Indian cities. The X-ray cost can vary. It can also depend on whether you are opting for a traditional or digital X-Ray.
                      </p>
                       <p> Did you know that the term ‘X-ray’ stands for ‘X-radiation’? The procedure dates back to its origin in 1895 when Dr. Roentgen accidentally discovered it. Today, X-rays are widely used and have become a common phenomenon with the widespread presence of X-ray clinics.
Since it is a non-invasive procedure, doctors can determine medical abnormalities without making any incision in your skin. Follow-up X-rays are used to track the course of treatment and progression of disease. It is also important to note that most X-rays are painless.
It is not uncommon for your doctor to order an X-ray when they can’t determine the problem during the first consultation. Doctors may order an X-ray to perform an in-depth examination of the area where you’re experiencing pain or discomfort. If you have been diagnosed with a disease, doctors may order X-rays to track the progression of the disease. They may also do this to ensure the medicine is working as expected.
                        </p>
<h4>Procedure</h4>
<p>
There is no preparation required prior to having an X-ray done. It is advisable to wear loose and comfortable clothing for the procedure. The X-ray clinic may also provide you with a hospital gown to ensure that there are no restrictions. The clinic may also require you to remove any jewellery or other metallic items to ensure there are no obstructions. If you have metal implants, such as pacemakers, inform your doctor. This is vital as metallic items can block X-rays from passing through your body and blocking the image.

It is unlikely but you may be injected with a contrast dye before your X-ray. It is a substance which improves the quality of the image. In certain cases, such as a gastrointestinal X-ray, you may be required to fast. Your doctor will inform you of the procedure and answer any questions beforehand.

X-rays are versatile. You may have to stand, sit or lie down, depending on the technician’s instructions. You may have to switch positions several times for the radiologist to perfectly capture the required body parts. The patient is required to remain very still throughout the procedure. Movement can disrupt the image, thereby elongating the X-ray time.
</p>
<h4>Some Popular X-Ray Types</h4>
<p>As aforementioned, X-rays are most commonly used to examine bones. However, the possibilities are endless. These include the following. </p>
<ul class="list-marked list">
<li>Physical Injuries: Bone injuries can be easily detected with the help of X-rays. This includes shoulder X-rays, knee X-rays, hand X-rays, foot X-rays, cervical spine X-rays, wrist X-rays and pelvis X-rays.</li>
<li>Dental Work: Dental X-rays are common and are widely used to determine abnormalities in teeth, gums and the mouth. OPG X-rays, which stand for orthopantomography, are used to attain a panoramic view of the lower face. This includes both jaws, present teeth and teeth which are yet to emerge, such as wisdom teeth.
</li>
  <li>Lungs: X-rays can be used to determine various lung problems, such as cancer and tuberculosis. Bronchiectasis X-rays can detect the damage to your lungs and bronchial tubes. The X-ray can point out the damage caused, the course of the disease and the build-up of mucus and bacteria.
  </li>
  <li>Abdominal Problems: KUB X-rays are used to capture images of the kidneys, ureter and bladder. This X-ray pinpoints the source of the pain in the abdomen.
  </li>
  </ul>
<h4>Duration</h4>
<p>The amount of time the procedure takes primarily depends on the imaging exam being performed. Depending on the body part and underlying conditions of the patient, an X-ray can take as little as fifteen minutes. It can also last up to an hour. The prevailing conditions at the X-ray lab on the day of the X-ray may also affect the duration.
</p>
<h4>X-ray Costs Near You</h4>
<p>It is difficult to determine an X-ray cost as there is no set price. The X-ray cost depends on the body part being scanned, X-ray type and the reputation and location of the X-ray lab. In Delhi/NCR, the average X-ray cost can be anywhere between Rs. 350 and Rs. 2000.

Search for ‘X-ray centre near me’ to find out about the costs.
</p>
<h4>Side Effects</h4>
X-rays employ doses of radiation. High exposure to radiation from X-rays may cause the following side effects: 
<ul class="list-marked list">
  <li>Hair loss</li>
  <li>Nausea and vomiting</li>
  <li>Hives and itching</li>
  <li>Light-headedness</li>
  <li>Metallic taste in your mouth</li>
</ul>
<p>

The benefits of an X-ray, however, outweigh the negative side effects. It is rare for an individual to experience these side effects. If a person does suffer from these side effects, they should contact their doctor immediately. The amount of radiation received from an X-ray is relatively low and not a cause for concern.

Find the best ‘X-ray centre near me’ in Delhi/NCR before going in for a procedure.
</p>

<h4>What Makes Us One of the Best X-Ray Service Providers in Bihar?</h4>
<p>
At J.P Diagnostic & Imaging  we offer X-Ray services that are affordable and of the best quality. If you’re searching for an “X-ray near me” or the best “X-ray centre near me”, we are what you need. Our offered X-ray services make sure that you’re getting what you want, at the same time we keep our X-ray charges to a minimum. Our customers believe in us and consider JP Diagnostic & Imaging as the best X-ray clinic in Bihar Patna.

We are committed to providing our customers with best-in-class X-ray services. All of our labs in Delhi NCR are clean and we make sure that each of our customers gets the best treatment. Customers searching for the best “X-ray clinic near me” or “X-ray test near me” have always considered us their first choice. Also, we believe in providing services that are efficient both in terms of quality and safety to an individual.

Apart from this, we believe in keeping each of our customers’ satisfaction as our priority. Our affordable prices and chest X-ray costs are lesser as compared to other X-ray clinics. So, in case you are searching for a “chest X-ray near me”, considering us will be the best option. Also, there’s a guarantee that you will get the best X-ray cost in Bihar Patna at J.P Diagnostic & Imaging. 

Our promise to quality, affordable costs, and best-in-class service provision are what makes us the best X-ray service provider in Bihar Patna. Also, our pledge to keep customer satisfaction as our priority allows us to make sure that our customers are always satisfied with our services.
   </p>                   
                    </div>
                  </div>
                </div>
                <div class="col-lg-12 isotope-item" data-filter="Mammography">
                  <h3>Mammography</h3>
                  <div class="offset-top-60"><img class="img-responsive" src="/services-03-870x440.jpg" width="870" height="440" alt="">
                    <div class="offset-top-30">
                      <p>Fortunately, advances in technology have made it possible for hospitals to offer digital mammography to all women. This means a better opportunity to discover breast cancer sooner.
                        Digital mammography is more successful than traditional film mammography in detecting breast cancer. Initially, digital mammography was only more effective in detecting breast cancer in women with smaller size breasts. However, advances in its technology have made it possible for digital mammography to be just as effective with breasts of all sizes.  
                        No longer are hospitals forced to use both types of screening due to variations in breast sizes. The initial digital imaging machines contained image receptors that were too small to capture a full image of large-sized breasts. Large breasts for this discussion are classified as any breast that reaches a “D” cup or larger.
                        The superior diagnostic techniques that are needed to detect breast cancer in its earlier stages are now provided with the advanced digital imaging capabilities of digital mammography. Original mammography methods were much slower since the film had to be developed before any diagnosis could be made.
                        With this newer process, the images of breasts are captured electronically. This leads to faster results and quicker diagnosis. Additionally, this type of mammography provides improved contrast between non-dense and dense areas of breast tissue.  This allows for a better diagnostic determination.  
                        In fact, digital images can be searched for signs of mass or calcifications using special software. If anything shows such as an abnormality, the area is marked for further consideration by the radiologist. One of the benefits for hospitals using digital mammography is that the results are easier to store and retrieve.
                      </p>
                      <h4>Types of Mammogram Scans</h4> 
                      <p>There are primarily two types of mammograms that are conducted, and both are used for different purposes. Mammogram centres employ both types of mammograms 
                      </p>
                      <ul class="list-marked list">
                            <li>
                              Screening Mammogram: The first type of mammogram is a breast X-Ray used to identify, determine, and analyse changes in women who have no symptoms of breast cancer. Two X-Rays of both breasts are conducted, and these can be used to identify tumours that cannot be felt otherwise.
                            </li>
                            <li>
                              Diagnostic Mammogram: The second type is most commonly used to detect, analyse, and diagnose unusual breast changes. This includes breast pain, lumps, nipple thickening, discharge, or changes in breast shape and size. The abnormalities detected via a screening mammogram can then be measured and further diagnosed using a diagnostic mammogram. Regardless of a woman’s age, a diagnostic mammogram is a standard medical procedure that takes place every few years in a woman’s life.
                            </li>
                      </ul>
                      <h4>Procedure</h4>
                      <p>
                        During a mammogram, you will be required to undress from the waist up and remove any necklaces, rings, or other metals you may be wearing. You will then wear a comfortable medical gown which gives the machine easier access to your breasts. Depending on the mammogram screening centre near you, you may either sit or stand during the procedure.
                        An X-Ray plate is fitted onto each breast. A compressor present in the machine then presses down on each breast to flatten the tissue. Flattening the tissue provides a clearer picture of the breasts. You may be required to hold your breath for each X-Ray. While you may be apprehensive about the pain and discomfort, rest assured that it lasts only for a moment.
                        Your doctor will then review and analyse the images from the procedure and may order an additional set of X-Rays if something is unclear or requires further attention. It is important to remember that this happens often as no X-Ray is perfect. There is no need to worry or panic. Contact your doctor in Patna today.
                      </p>
                      <h4>Benefits of Mammogram Screening</h4>
                      <ul class="list-marked list">
                          <li>
                            According to latest research, of 1,000 women who undergo a mammogram every 2 years for 20 years, approximately 7 deaths are prevented. Having a mammogram at regular periods can prevent your risk of dying from cancer.
                          </li>
                          <li>
                            Detection of breast cancer at early stages has many benefits. One of the key benefits is that treatment for breast cancer is possible without chemotherapy.
                          </li>
                          <li>
                          It has been noted that 98% of women will not have breast cancer if periodical mammogram screens and other examinations do not reveal cancer.
                          </li>
                      </ul>  
</div>
                    <div class="offset-top-30"><a class="btn btn-ellipse btn-primary" href="make-an-appointment">Make an appointment</a></div>
                  </div>
                </div>
                <div class="col-lg-12 isotope-item" data-filter="Laboratory Services">
                  <h3>Laboratory Services</h3>
                  <div class="offset-top-60"><img class="img-responsive" src="/services-02-870x440.jpg" width="870" height="440" alt="">
                    <div class="offset-top-30">
                      <p>
                        The sole purpose of using advanced tools and equipment in our pathology lab and having qualified lab technicians and pathologists is to obtain accurate results for every testing. We leave no stone unturned to confirm every testing sample’s results, continuously monitor and apply quality checking to ensure the highest possible accuracy for your testing.
                      </p>
                      <h4>Why Choose J.P Diagnostic & Imaging?</h4>
                      <p>
                        Despite several pathology clinics in Bihar/Patna, certain crucial reasons compel most individuals to choose us. Here’s why most people reach out to us.
                      </p>
                      <h4>Dry Chemistry-Oriented Technologies</h4>
                      <p>
                        At J.P Diagnostic & Imaging , for almost every testing, professionals use dry chemistry. Our pathologists rely on dry chemistry, as it is one of the advanced technologies and used extensively all over the USA. This specific technology consists of a completely automated biochemistry platform, which ensures super-quick, errorless, reliable, and accurate results. To treat for an improved patient result, we leverage the dry chemistry technology in our pathology centre.
                        Certain external interventions such as water utilisation, washing, and much more completely remove the sources of errors. Hence, we use dry chemical technology as it can function without any external interventions. To improve the accuracy and precision of every result, we use it as it has a single disposable slide and an innovative Dry Slide technology with multiple layers.
                        Compared to wet chemistry, dry chemistry is more expensive. Being a reputed pathology laboratory near you in Delhi/NCR, we choose to stick to this very technology to ensure that we can meet every patient’s requirements.
                      </p>
                      <h4>Bi-Directional Incorporation Method</h4>
                      <p>
                        To ensure that no patient receives a report, which is manually entered and full of errors, we have opted for Bi-Directional incorporation into our system. When a patient requests a blood test, the blood testing device promptly queries the central IT system based on the individual’s barcode.
                        After the completion of the requested blood test, results are immediately entered into the same barcode ID to make it easier for our pathologists and technical staff to analyse. The possibilities of manual errors minimize to a significant extent as the requisition testing process is fully automated for a wide range of tests.
                      </p>
                      <h4>Superfast Turnaround</h4>
                      <p>
                        At J.P Diagnostic & Imaging, expert pathologists and technicians leveraging cutting-edge technology are capable of successfully conducting 1000+ tests every single hour. We leave no stone unturned to improve our capacity and keep things handy to produce an accurate report of every test in no time.
                      </p>
                      <h4>What We Offer</h4>
                      <ul class="list-marked list">
                        <li>
                            Free Home Sample Collection: Reach out to us if you or anyone in your family wants us to visit your home for sample collection. We don’t charge anything for collecting samples from patients’ houses. This particular service of ours is very convenient and saves your time.
                          </li>
                          <li>
                            World-Class Technologies: To produce a superfast testing result with the utmost precision, we leverage advanced and world-class technologies in our pathology centre in Bihar/Patna.
                          </li>
                          <li>
                            Online Access to Test Reports: Once our pathologists are done conducting your sample tests and reviewing the same, we ensure that you can easily access your test reports online.
                          </li>
                        </ul>
                      <p>Call Us:-</p>

                    </div>
                    <div class="offset-top-30"><a class="btn btn-ellipse btn-primary" href="make-an-appointment">Make an appointment</a></div>
                  </div>
                </div>
                <div class="col-lg-12 isotope-item" data-filter="Dental Services">
                  <h3>Dental X-Ray (OPG)</h3>
                  <div class="offset-top-60"><img class="img-responsive" src="/services-01-870x440.jpg" width="870" height="440" alt="">
                    <div class="offset-top-30">
                      <p>Dental X-rays (radiographs) are images of your teeth that your dentist uses to evaluate your oral health. These X-rays are used with low levels of radiation to capture images of the interior of your teeth and gums. This can help your dentist to identify problems, like cavities, tooth decay, and impacted teeth.
                        Dental X-rays may seem complex, but they’re actually very common tools that are just as important as your teeth cleanings.</p>
                      <h4>Why dental X-rays are performed</h4>
                      <p>Dental X-rays are typically performed yearly. They can happen more often if your dentist is tracking the progress of a dental problem or treatment.</p>
                      <p>Factors affecting how often you get dental X-rays may include:</p>
                        <ul class="list-marked list">
                          <li>your age</li> 
                          <li>your current oral health</li>
                          <li>any symptoms of oral disease</li>
                          <li>a history of gum disease (gingivitis) or tooth decay</li>
                       </ul>
                      <p>If you’re a new patient, you’ll probably undergo dental X-rays so that your new dentist can get a clear picture of your dental health. This is especially important if you don’t have any X-rays from your previous dentist.</p>
                      <p>Children may need to have dental X-rays more often than adults because their dentists might need to monitor the growth of their adult teeth. This is important because it can help the dentist determine if baby teeth need to be pulled to prevent complications, such as adult teeth growing in behind baby teeth.</p>
                      <h4>Risks of dental X-rays</h4>
                      <p>While dental X-rays do involve radiation, the exposed levels are so low that they’re considered safe for children and adults. If your dentist uses digital X-rays instead of developing them on film, your risks from radiation exposure are even lower.
                         Your dentist will also place a lead “bib” over your chest, abdomen, and pelvic region to prevent any unnecessary radiation exposure to your vital organs. A thyroid collar may be used in the case of thyroid conditions. Children and women of childbearing age may also wear them along with the lead bib.</p>
                      <p>Pregnancy is an exception to the rule. Women who are pregnant or believe they may be pregnant should avoid all types of X-rays. Tell your dentist if you believe you are pregnant, because radiation is not considered safe for developing fetuses.</p>
                      <h4>Preparing for dental X-rays</h4>
                      <p>Dental X-rays require no special preparation. The only thing you’ll want to do is brush your teeth before your appointment. That creates a more hygienic environment for those working inside your mouth. X-rays are usually done before cleanings.
                        At the dentist’s office, you’ll sit in a chair with a lead vest across your chest and lap. The X-ray machine is positioned alongside your head to record images of your mouth. Some dental practices have a separate room for X-rays, while others perform them in the same room as cleanings and other procedures.</p>
                      <h4>Types of X-rays</h4>
                      <p>There are several types of dental X-rays, which record slightly different views of your mouth. The most common are intraoral X-rays, such as:</p>
                      <ul class="list-marked list">
                        <li>Bitewing. This technique involves biting down on a special piece of paper so that your dentist can see how well the crowns of your teeth match up. This is commonly used to check for cavities between teeth (interdental).</li>
                        <li>Occlusal. This X-ray is done when your jaw is closed to see how your upper and bottom teeth line up. It can also detect anatomical abnormalities with the floor of the mouth or the palate. This technique captures all of your teeth in one shot.</li>
                        <li>Panoramic. For this type of X-ray, the machine rotates around the head. Your dentist may use this technique to check your wisdom teeth, plan for implanted dental devices, or investigate jaw problems.</li>
                        <li>Periapical. This technique focuses on two complete teeth from root to crown.</li>
                      </ul>
                      <p>ExtraoralX-rays may be used when your dentist suspects there might be problems in areas outside of the gums and teeth, such as the jaw.</p>
                      <p>A dental hygienist will guide you through each step of the X-ray process. They might step outside of the room briefly while the images are being taken. You’ll be instructed to hold still while the pictures are recorded. Spacers (film holders), if they’re used, will be moved and adjusted in your mouth to obtain the proper images.</p>
                      <h4>After dental X-rays</h4>
                      <p>When the images are ready — instantly in the case of digital X-rays — your dentist will review them and check for abnormalities. If a dental hygienist is cleaning your teeth, the dentist may go over the results of the X-rays with you after your cleaning is done. The exception is if the hygienist discovers any significant problems during the X-rays.
                        If your dentist finds problems, such as cavities or tooth decay, they’ll discuss your treatment options. If your dentist finds no problems, keep up the good work!</p>
                      <h4>outlook</h4> 
                      <p>Like brushing and flossing, getting regular dental X-rays is an integral part of your overall oral health.
                         Having a good checkup can be a relief, but this doesn’t mean you shouldn’t keep getting X-rays.
                         Depending on your age, health, and insurance coverage, X-rays may be performed every one to two years. Be sure to commit to your appointments and see your dentist sooner if you experience any pain or other changes in your mouth.</p>
                    </div>
                  </div>
                  <!--<div class="offset-top-66">
                    <h3>Team of Doctors</h3>
                  </div>
                  <div class="offset-top-60">
                    <div class="row text-sm-left">
                      <div class="col-lg-5 inset-lg-right-30">
                        <div class="unit flex-xxl-row flex-xl-row flex-lg-row flex-md-row flex-sm-row unit-spacing-sm">
                          <div class="unit-left"><img class="img-responsive" src="/user-scott-riley-110x110.jpg" width="110" height="110" alt=""></div>
                          <div class="unit-body">
                            <h5 class="font-weight-bold text-primary">Dr. Scott Riley</h5>
                            <p class="font-italic offset-top-0">CMO, Pathologist</p>
                            <div class="d-inline-block">
                              <div class="p unit unit-spacing-xxs flex-row">
                                <div class="unit-left"><span class="icon icon-xs mdi mdi-phone text-primary"></span></div>
                                <div class="unit-body"><a class="h6" href="tel:#">1-800-1234-567</a></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <p>Cras fermentum justo massa, at rhoncus risus vulputate ut. Quisque molestie varius lacus, eu feugiat diam ultrices at.</p><a class="btn btn-primary btn-ellipse" href="team-member">Learn more</a>
                      </div>
                      <div class="col-lg-5 offset-top-41 offset-md-top-0 inset-lg-right-30">
                        <div class="unit flex-xxl-row flex-xl-row flex-lg-row flex-md-row flex-sm-row unit-spacing-sm">
                          <div class="unit-left"><img class="img-responsive" src="/user-johnny-fowler-110x110.jpg" width="110" height="110" alt=""></div>
                          <div class="unit-body">
                            <h5 class="font-weight-bold text-primary">Dr. Eric Snyder</h5>
                            <p class="font-italic offset-top-0">MRI Technologist</p>
                            <div class="d-inline-block">
                              <div class="p unit unit-spacing-xxs flex-row">
                                <div class="unit-left"><span class="icon icon-xs mdi mdi-phone text-primary"></span></div>
                                <div class="unit-body"><a class="h6" href="tel:#">1-800-1234-567</a></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <p>Donec mattis nisi nisi, a aliquam mi pulvinar sit amet. Mauris at scelerisque lectus. Sed tincidunt malesuada vestibulum.</p><a class="btn btn-primary btn-ellipse" href="team-member">Learn more</a>
                      </div>
                    </div>
                  </div>-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Page Footer-->
      <footer class="section-relative section-top-66 section-bottom-34 page-footer bg-accent context-dark footer-classic">
        <div class="container">
          <div class="row justify-content-md-center text-xl-left">
            <div class="col-md-8 col-lg-12">
              <div class="row justify-content-sm-center row-40">
                <div class="col-sm-10 col-lg-4 text-left order-lg-3 inset-lg-left-50">
                  <h6>Newsletter</h6>
                  <hr class="text-subline">
                  <p class="text-white-70">Enter your email address to receive up-to-date news, new patient information and other useful stuff, delivered right to your inbox.</p>
                        <form class="rd-mailform" data-form-output="form-output-global" data-form-type="subscribe" method="post" action="bat/rd-mailform.php">
                          <div class="form-wrap input-group input-group-custom input-group-sm no-wrap">
                            <label class="form-label" for="subscribe-form-email">Your e-mail...</label>
                            <input class="form-input mr-2" id="subscribe-form-email" type="email" name="email" data-constraints="@Email @Required">
                            <button class="btn btn-sm btn-darkest" type="submit">Subscribe</button>
                          </div>
                        </form>
                </div>
                <div class="col-sm-10 text-sm-left col-lg-4 order-lg-2">
                  <h6>contact us</h6>
                  <hr class="text-subline">
                  <div class="text-center text-xl-left">
                    <address class="contact-info d-md-inline-block text-left">
                      <div class="p unit unit-spacing-xxs flex-row">
                        <div class="unit-left"><span class="icon icon-xxs mdi mdi-phone text-white"></span></div>
                        <div class="unit-body"><a class="text-white-70" href="tel:#">+917250232233</a><span class="text-white-70">, </span><a class="text-white-70" href="tel:#">+919308117486</a></div>
                      </div>
                      <div class="p unit flex-row unit-spacing-xxs">
                        <div class="unit-left"><span class="icon icon-xxs mdi mdi-map-marker text-white"></span></div>
                        <div class="unit-body"><a class="text-white-70" href="#">G1/A Baidayanath Palace,Jagdeo Path,near <br>pillar No:-10,Bailey Road, RajaBazar,Patna</a></div>
                      </div>
                      <div class="p unit unit-spacing-xxs flex-row offset-top-16">
                        <div class="unit-left"><span class="icon icon-xxs mdi mdi-email-outline text-white"></span></div>
                        <div class="unit-body"><a class="text-white-70 text-java" href="mailto:#">jplab20016@gmail.com</a></div>
                      </div>
                    </address>
                  </div>
                </div>
                <div class="col-sm-10 col-lg-4 order-lg-1 text-center text-lg-left">
                  <!--Brand--><a class="brand" href="index"><img class="brand-logo-dark" src="/JpBlueFinal.jpg" alt="" width="77" height="26"/><img class="brand-logo-light" src="/JpBlueFinal.jpg" alt="" width="77" height="26"/></a>
                  <div class="offset-top-30">
                          <ul class="list-inline">
                            <li><a class="icon fa fa-facebook icon-xxs icon-circle icon-white" href="#"></a></li>
                            <li><a class="icon fa fa-twitter icon-xxs icon-circle icon-white" href="#"></a></li>
                            <li><a class="icon fa fa-google-plus icon-xxs icon-circle icon-white" href="#"></a></li>
                            <li><a class="icon fa fa-rss icon-xxs icon-circle icon-white" href="#"></a></li>
                          </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container offset-top-50 offset-md-top-60">
          <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span><span>&nbsp;</span><span>J.P Diagnostic & Imaging Center</span><span>.&nbsp;</span><a href="privacy-policy">Privacy Policy</a></p>
        </div>
      </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="/core.min.js"></script>
    <script src="/script.js"></script>
  </body>
</html>
